<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('extra/meta-data') %>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/user.css">
    <link rel="stylesheet" href="/style/card.css">
    <link rel="stylesheet" href="/style/extra.css">
    <link rel="stylesheet" href="/style/footer.css">
    <script src="/scripts/showpassword.js" defer></script>
    <script src="/scripts/notifications.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <title>Password</title>
</head>

<body>

    <% if (empty1) { %>
        <div class="notification">
            <p>Password should at least 5 charactors.</p>
        </div>
     <% } %>

     <% if (passmatch) { %>
        <div class="notification">
            <p>Current Password not match</p>
        </div>
     <% } %>

     <% if (notmatch) { %>
        <div class="notification">
            <p>Confirm password does not match</p>
        </div>
     <% } %>

    <!-- <%- include('extra/main-pane copy') %> -->
<div class="final">

    <div class="main-pane">
        <div id="mainLogo">
            <img src="\image\navbarIcons\vercel-icon-512x449-3422jidz.png" alt="mainlogo" style="width: 2rem; filter: invert(100%);">
            <h1>Peek</h1>
        </div>

    <% for(const keys of user)  { %>

        <div class="list">
            <ul>
                <li>
                    <p>
                        <a href="/user/<%= keys.userId %>">
                        <img src="\image\navbarIcons\icons8-home-29.png" alt="">
                        Home
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="/user/myposts/<%= keys.userId %>">
                        <img src="\image\navbarIcons\icons8-grid-29.png" alt="">
                        My post
                        </a>
                    </p>
                </li>
                <li>
                    <p class="catchNotifications" data-user="<%= keys.userId %>" data-userimage="<%= keys.file %>">
                        <a class="addthisOne">
                        <img src="\image\navbarIcons\icons8-heart-29.png" alt="" id="showHeart">
                        <img src="\image\icons8-heart-29 (1).png" alt="" id="notShowHeart" style="display: none;">
                        Notifications
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="/user/create-post/<%= keys.userId %>">
                        <img src="\image\navbarIcons\icons8-plus-29.png" alt="">
                        Create
                      </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="/account/edit/<%= keys.userId %>" id="addthis">
                        <img src="<%= keys.file %>" alt="profilePic" id="navProfImg">
                       Profile
                        </a>
                    </p>
                </li>
                <li>
                    <p id="myLogOut"><a href="/login?userEnable=<%= keys.userId %>">Log Out</a></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="notificationCenter">
        <div class="notificationsDetails">
            <p>Notifications</p>
            <img src="" alt="" id="notificationImage">
        </div>

        <div>
            <ul class="notificationHolder">
                <li>
                    <div class="actualNotifications">
                        <p class="title">You Uploaded new Post</p>
                        <p class="note">Places in Singapore</p>
                        <p class="date">Thu Feb 15 2024</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="condition">
        <p class="setProf">Setting</p>
        <div id="accountCenter">
    </div>

    <li >
        <p><img src="\image\icons8-male-user-29.png" alt="">
            <a href="/account/edit/<%= keys.userId %>">Edite profile</a></p>
    </li>

    <li class="this">
        <p><img src="\image\icons8-password-29 (1).png" alt="">
            <a href="/account/edit/password/<%= keys.userId %>">Password</a></p>
    </li>
    </div>

    <div class="profile">
        <div class="profileInfo">
            <p class="prof">Password</p>

            <form action="/account/edit/password/<%= keys.userId %>" method="POST">


                <div class="othertabs">
                    
                    <p class="prof">Change Password</p>

                    <div>
                    <input type="password" class="passwordSec" name="currentPass"  maxlength="20" >
                    
                    </div>  

                    <div>
                     <input type="password" class="passwordSec" name="newPass" maxlength="20">
                     
                    </div> 

                    <div>
                     <input type="password" class="passwordSec" name="confirmPass" maxlength="20">
                     
                    </div> 
                    
                    <div class="submitBut">
                        <button type="submit">Reset</button>
                    </div>  
                </div>
                
            </form>
            
        </div>
    </div>

<% } %>

</div>

    </body>

    </html>
    